<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mobilebakeway" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Bakeway Mobile Settings</label>
            <tab>bakewaysettings</tab>
            <resource>BakewayMobile_PartnerMobileApi::partnermobileapi_configuration</resource>
            <group id="mobileapi" translate="label" type="text" sortOrder="495" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Mobile Api Setting</label>
                <field id="category" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Category Id</label>
                    <comment>add multiple category id (,) seperated</comment>
                </field>
                <field id="limit" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Partner Collection Fetch Limit</label>
                </field>
            </group>
        </section>
    </system>
</config>