<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mobilebakeway>
            <mobileapi>
                <category>13</category>
                <limit>6</limit>
            </mobileapi>
        </mobilebakeway>
    </default>
</config>