<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Bakeway. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
       <!-- <add id="Bakeway_Partnerlocations::locations" title="Manage Store Addresses" module="Bakeway_Partnerlocations" sortOrder="1" parent="Webkul_Marketplace::menu" action="partnerlocations/locations/index" resource="Bakeway_Partnerlocations::locations"/>-->
    </menu>
</config>

