<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../vendor/magento/framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="upcomingorders" frontName="upcomingorders">
            <module name="Bakeway_UpcomingOrders" />
        </route>
    </router>
</config>