<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../vendor/magento/framework/ObjectManager/etc/config.xsd">
<preference for="Magento\Sales\Model\ResourceModel\Order\Grid\Collection" type="Bakeway\ExportCsv\Model\OrderGridCollection"/>
</config>
