<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Bakeway_UpcomingOrders::UpcomingOrders" title="Upcoming Orders" module="Bakeway_UpcomingOrders"  sortOrder="100" parent="Magento_Sales::sales_operation" action="upcomingorders/upcomingorders/index" resource="Bakeway_UpcomingOrders::bakeway_upcomingorders"/>
        <!--AddMenu-->
    </menu>
</config>