<?xml version="1.0"?>
<!--
 /**
 * Copyright © 2015 Smj. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Smj_ZohoCrm extension
 * NOTICE OF LICENSE
 *
 * @category  Smj
 * @package   Smj_ZohoCrm
 * @author Mukund
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Smj_Zohocrm::zohocrm" title="ZohoCRM Integration" sortOrder="100">
                    <resource id="Smj_Zohocrm::mapping" title="Field Mapping"  sortOrder="10" />
                    <resource id="Smj_Zohocrm::report" title="View Report" sortOrder="20" />
                    <resource id="Smj_Zohocrm::queue" title="Queue" sortOrder="30" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Smj_Zohocrm::config_zohocrm" title="ZohoCRM Integration Section" sortOrder="200"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
